@import '~bootstrap/scss/functions';
@import './scss/variables';
@import './scss/bootstrap-variables';
@import '~bootstrap/scss/bootstrap';
@import './scss/index';

.material-icons.red { color: #ef080b; }
.material-icons.green { color: #66ca0e ; }
.material-icons.grey { color: #eeeeee ; }
.material-icons.add-review  { cursor: pointer; }
.main-nav-pink {background-color: #ffe4e1;}
.dropdown {list-style:none;}
    
    .blue-button{ color: #fff;
    background-color: #82CAFF;
    border-color: #C6DEFF;
    }

    .blue-button:hover {
        background-color: #C6DEFF;
    }

    .blue-button-outline{
    color: #C6DEFF;
    background-color: #ffffff;
    background-image: none;
    border-color: #C6DEFF;
    }

    .blue-button-outline:hover {
        color: #fff;
        background-color: #82CAFF;
        border-color: #82CAFF;
    }

    .black-link a, a:visited{
        color:#000;
        text-decoration: underline;
    }
    .black-link a:hover{
        color:#82CAFF;
        text-decoration: underline;
    }
