@import '~bootstrap/scss/functions';
@import './scss/variables';
@import './scss/bootstrap-variables';
@import '~bootstrap/scss/bootstrap';
@import './scss/index';

.material-icons.red { 
    color: $danger; }
.material-icons.green { 
    color: $success; }
.material-icons.grey { 
    color: $info; }
.material-icons.add-review  
{ cursor: pointer; 
    &:hover{
        color: $gray-400; 
    }
}

.main-nav-pink {
    background-color: $light-pink;
    & li.nav-item { 
        & :hover{
        background-color: $medium-pink;
    }}
}
.dropdown {list-style:none;}
    
.login-button {
    background-color: $primary!important;
    border: none!important;
    color: #fff!important;
    &:hover{
        background-color: $secondary!important;
    }
    }

.filterNav li.nav-item{
   
    & a, a:visited {
        color:$black;
    }
    & a:hover{
        background-color: $gray-200;
        
    } 

}
.black-link a{
    text-decoration: underline;
    color:$black;
    &:visited{
        color:$black;
        }
    &:hover{
            color:$secondary;
        }
    }