$primary: #82CAFF;
$secondary: #4FA6E0;
$secondary-darker: #3b98d5;
$secondary-lighter: #7CC0EF;
$success: #1DBC73;
$success-darker: #19a866;
$danger: #FC5A5E;
$danger-darker: #e15256;
$info: #E1E7ED;
$gray: #929292;
